body,p,ul,dl,ol,li,h1,h2,h3,h4,h5,h6,dd{margin:0;padding:0;}

h1,h2,h3,h4,h5{font-weight:normal;}
img{border:none;}
body{font-size:12px;"微软雅黑"}
li{list-style:none;}
a{text-decoration:none;color:#666;}
span{display:block}
html,body{height: 100%}
.navbar{
    width: 100%;
    height: 126px;
    box-shadow: 0 0 10px #666;;
}
.navbar .logo{
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    width: 301px;
    height: 80px;
    line-height: 80px;
}
.navbar-right{
    float: right;
}
.navbar-right ul:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;;
}
.navbar-right li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 120px;
    margin-right: 20px;
}
.navbar-right li a{
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.row{
    height: auto;
}
.panel-title a{
    width: 210px;
    height: 40px;
    padding-left: 45px;
    line-height: 40px;
    font-size: 16px;
    color: #666666;
}
.panel-body ul li{
    width: 156px;
    height: 36px;
    padding-left: 45px;
    line-height: 36px;
    font-size: 16px;
    color: #666666;
    border-bottom: 1px solid #cccccc;
}
.panel-body{
    background: #f7f7f7;
}

